/* BODY */

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

/* HEADER */

.navbar {
  background-color: #202020;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
}

.container, .search-container {
  display: flex;
  align-items: center;
}

.material-icons-outlined {
  color: white;
}

.material-icons-outlined.nav {
  padding: 8px;
}

.material-icons-outlined.nav.right-icons {
  margin-right: 8px;
}

.material-icons-outlined.nav.center-icons {
  margin-left: 4px;
  background-color: #111212;
  border-radius: 20px;
}

.logo {
  width: 90px;
  padding: 18px 14px 18px 16px;
}

.profile-picture {
  height: 32px;
  border-radius: 16px;
  margin: 1px 14px;
}

.center-container {
  margin-left: 44px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  height: 40px;
}

.search-container {
  border: 1px solid #2F2F2F;
  height: 100%;
  margin-right: 4px;
}

.search-bar {
  color: #878888;
  background-color: #111212;
  width: 572px;
  height: 100%;
  display: flex;
  align-items: center;
}

.search-text {
  font-size: 16px;
  padding-left: 12px;
  margin: 0;
}

.search-btn {
  background-color: #2F2F2F;
  padding: 0 6px;
  width: 60px;
}

button {
  border: none;
  cursor: pointer;
	outline: inherit;
}

/* MAIN SECTION */

.section {
  background-color: #181818;
  padding: 24px;
  display: flex;
}

/* VIDEO STATS */

.video-stats {
  color: white;
  padding: 20px 0 8px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.video-title {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.views-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

.view-count {
  color: rgb(170, 170, 170);
  font-size: 14px; 
}

.button-row {
  display: flex;
}

.video-btn {
  background-color: transparent;
  color: white;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.material-icons-outlined.video {
  padding: 6px;
}

/* CHANNEL */

.channel {
  padding-bottom: 16px;
  margin-bottom: 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* CHANNEL INFO */

.channel-info {
  padding-top: 16px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.channel-row {
  display: flex;
  align-items: center;
}

.channel-img {
  width: 48px;
  border-radius: 24px;
  margin-right: 16px;
}

.channel-name {
  display: flex;
  flex-direction: column;
}

.owner, .sub-count {
  margin: 0;
  padding: 0;
}

.owner {
  font-size: 13px;
  font-weight: 500;
  color: white;
  height: 20px;
}

.sub-count {
  font-size: 12px;
  font-weight: 400;
  color: rgb(170, 170, 170);
  height: 18px;
}

.sub-btn {
  color: white;
  background-color: #cc0404;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 16px;
  margin: 0 4px;
  border-radius: 2px;
}


/* DESCRIPTION */

.video-description {
  margin-left :64px;
}

.description-text {
  color: white;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 5px;
}

a {
  color: rgb(62, 166, 255);
  text-decoration: none;
}

.expand-btn {
  color: rgb(170, 170, 170);
  background-color: transparent;
  font-size: 12px;
  margin-top: 8px;
  padding: 0;
  height: 18px;
}

/* COMMENTS */

.comment-header {
  margin-bottom: 32px; 
}

.comment-header-top {
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.comment-count {
  font-size: 16px;
  font-weight: 400;
  margin-right: 32px;
  width: 120px;
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.comment-sort-btn {
  background-color: transparent;
  color: white;
  display: flex;
  padding: 0;
}

.material-icons-outlined.sort {
  margin-right: 8px;
}

.comment-sort-text {
  font-size: 14px;
  font-weight: 500;
  width: 46px;
}

.comment-form {
  display: flex;
  flex-direction: row;
}

.comment-profile-picture {
  height: 40px;
  border-radius: 20px;
  margin-right: 16px;
}

.comment-field {
  padding-bottom: 4px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  height: 20px;
  width: 100%;
}

.comment-placeholder {
  color: rgb(170, 170, 170);
  font-size: 14px;
  font-weight: 400;
}

.single-comment {
  margin-bottom: 16px;
}

.comment-info {
  display: flex;
  color: white;
}

.comment-main {

}

.comment-title {

}

.comment-author {
  font-size: 13px;
  font-weight: 500;
  margin: 0 4px 2px 0;
}

.comment-date {
  color: rgb(170, 170, 170);
  font-size: 12px;
  font-weight: 400;
}

.comment-body {
  font-size: 14px;
  font-weight: 400;
  margin: 8px 0;
}

.comment-buttons {
  display: flex;
  margin-left: -8px;
}

.comment-thumb-btn, .comment-reply-btn {
  color: white;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 0;
}

.material-icons-outlined.comment {
  font-size: 14px;
  padding: 8px;
}

.comment-btn-text {
  color: rgb(170, 170, 170);
  font-size: 12px;
  font-weight: 400;
  margin-right: 8px;
}

.comment-reply-btn {
  padding: 8px 16px;
}