/* GENERAL */

body {
  font-family: 'Avenir Next';
  background-color: rgb(236, 238, 241);
  margin: 0;
}

button {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 119, 197);
  border: 1px solid #4c4c4c;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
	outline: inherit;
  font-family: 'Avenir Next';
}

a {
  color: #0077C5;
  text-decoration: none;
  cursor: pointer;
}

.material-icons-outlined {
  font-size: 20px !important;
  margin-right: 6px;
}

/* SIGN IN NAV */

.signin-nav {
  font-size: 12px;
  padding: 10px 30px 14px 30px;
  line-height: 1.5;
  display: flex;
  justify-content: flex-end;
}

.nav-column {
  margin-left: 10px;
  color: rgb(80, 80, 80);
}

.signin-btn {
  font-size: 1.125em;
  font-weight: normal;
  padding: 0 20px;
  height: 34px;
}

/* LOGO HEADER */

.logo-header {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.intuit-logo {
  height: 35px;
}

/* WIDGET HEADER */

.widget-header {
  display: flex;
  justify-content: center;
  padding-bottom: 4px;
  height: 38px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 6px;
}

.widget-img {
  height: 23px;
  margin-right: 4px;
}

.widget-link {
  color: #6d6d71;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  align-items: center;
}

/* WIDGET BODY */

.signup-wrapper {
  background-color: #fff;
  border: 1px solid #c7c7c7;
  padding: 30px;
  margin: auto;
  width: 318px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-header {
  color: rgb(57, 58, 61);
  font-size: 24px;
  font-weight: 400;
}

.signup-sub-header {
  color: rgb(57, 58, 61);
  font-size: 14px;
  font-weight: 200;
  padding: 20px 0;
  margin: 0 11.5px;
  text-align: center;
}

.signup-footer {
  color: rgb(117, 117, 117);
  font-size: 12px;
  text-align: center;
  padding: 10px 2px 0 2px;
  line-height: 18px;
}

.captcha {
  background-color: rgb(236, 238, 241);
  color: rgb(141, 144, 150);
  font-size: 10px;
  text-align: center;
  padding: 16px 0;
  margin: 32px -30px -30px -30px;
  width: 378px;
}

/* SIGNUP FORM */

form {
  width: 100%;
}

fieldset {
  border: none;
  color: rgb(64, 64, 64);
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.signup-label {
  font-size: 14px;
  padding-bottom: 6px;
  height: 25px;
  display: flex;
  align-items: center;
}

input {
  color: rgb(0, 0, 0);
  font-size: 16.8px;
  border: 1px solid #c1c5c8;
  border-radius: 3px;
  padding: 0 0 0 8px;
  margin-right: -8px;
  height: 31px;
  width: 97%;
}

.text-input {
  position: relative;
}

.recommended {
  font-weight: 200;
}

.form-error-msg {
  height: 20px;
  margin-top: 5px;
}

.sms-warning {
  color: #444;
  font-size: 10px;
  font-weight: 400;
  padding: 5px 0;
}

.material-icons-outlined.light {
  color: #c8c8cf;
  position: absolute;
  margin-right: 0;
  top: 7px;
  right: 10px;
}

.submit-btn {
  font-size: 1em;
  font-weight: normal;
  padding: 6px 12px;
  margin-bottom: 10px;
  height: 44px;
  width: 100%;
}

/* FOOTER */

.main-footer {
  color: rgb(80, 80, 80);
  font-size: 12px;
  text-align: center;
  line-height: 18px;
  padding: 20px 0;
}

li a {
  color: rgb(80, 80, 80);
}

.privacy-settings {
  background-color: rgb(255, 255, 255);
  font-size: 14px;
  padding: 20px;
  margin-top: 52px;
}
