/* MAIN */

:root {
  --primary-color: #F59D33;
  --secondary-color: #EA4D3B;
  --light-color: #FEF6EC;
  --primary-font: 'Open Sans', sans-serif;
  --logo-font: 'Cabin', sans-serif;
}

body {
  margin: 0;
  background-color: var(--light-color);
  font-family: var(--primary-font);
}

.container {
  display: flex;
}

/* IMAGE COLUMN */

.img-column {
  background: center / contain no-repeat url(../img/espresso-pull.jpg);
  background-size: 491px 736px;
  position: relative;
  left: 0;
  width: 34vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-name {
  color: var(--primary-color);
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 12vh;
}

.site-name img {
  height: 5rem;
}

.site-name h1 {
  font-family: var(--logo-font);
  font-size: 4rem;
  margin: 1rem 0.2rem;
}

.background-caption {
  color: white;
  font-size: 0.75rem;
  position: absolute;
  bottom: 1vh;
}

.background-caption a {
  color: white;
}

.background-caption a:hover {
  color: var(--primary-color);
  text-decoration: none;
}

/* FORM COLUMN */

.form-column {
  width: 66vw;
  margin-top: 18vh;
}

.prompt {
  padding: 0 2.5rem;
  font-weight: 500;
  font-size: 1.1rem;
}

.prompt strong {
  color: var(--primary-color);
  font-family: var(--logo-font);
  font-size: 1.25rem;
}

form {

}

.form-wrapper {
  background-color: white;
  padding: 1rem 2.5rem;
}

form h2 {
  margin: 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
}

fieldset div {
  display: flex;
  flex-direction: column;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 2.5rem;
}