/* BODY */

body {
  font-family: 'Titillium Web';
}

body, h3 {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}

button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
	outline: inherit;
  font-family: 'Titillium Web';
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  line-height: 16px;
}

/* HEADER */

.page-header {
  margin: 30px 0 6px 0;
  border-bottom: 1px solid rgb(191, 191, 191);
}

.header-wrapper {
  display: grid;
  grid-template-columns: 26.9% 42.2% 26.9%;
  column-gap: 2%;
  max-width: 70.62495rem;
  margin: 0 auto;
  padding: 0 15px 11px 15px;
  font-size: 16px;
}

.header-promo {
  line-height: 19px;
}

.header-promo h3 a {
  font-size: 16px;
  color: #00B3E5;
}

.header-promo h3 a:hover {
  color: rgb(40, 142, 183);
}

.promo-sub-header {
  font-family: 'PT Serif';
  letter-spacing: -0.6px;
  color: #999;
}

.promo-sub-header:hover {
  text-decoration: underline;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo img {
  object-fit: cover;
  width: 350px;
  justify-self: center;
}

.header-subscribe button {
  background-color: #F00;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 2px;
  width: 15rem;
  padding: 0.45833rem;
  float: right;
}

.header-nav {
  max-width: 70.62495rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 0.34375rem;
}

.main-nav li {
  font-size: 18px;
  line-height: 1.3125rem;
  font-weight: 700;
  margin-right: 1.03125rem;
  padding-bottom: 0.51562rem;
}

.header-nav a {
  color: #002837;
}

.main-nav a.selected-nav, .main-nav a.secondary {
  color: #00B3E5;
}

.main-nav span {
  font-size: 14px;
}

a.selected-nav, .main-nav a:hover {
  border-bottom: 5px solid rgb(0, 40, 55);
}

.nav-tools a {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 1.3125rem;
  font-weight: 700;
}

.nav-tools a:first-child {
  margin-right: 0.45833rem;
}

.nav-tools a:hover {
  color: rgb(153, 153, 153);
}

.nav-tools span {
  font-size: 20px;
}

/* ARTICLE */

.main-content {
  max-width: 70.62495rem;
  margin: 0 auto;
  padding: 0 0.93747rem;
  display: flex;
}

.main-content article {
  padding-top: 1rem;
  max-width: calc(100% - 20.125rem);
}

.article-header h1 {
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 3.1875rem;
  margin: 0 0 0.93747rem 0;
}

.main-content aside {
  flex: 0 0 18.75rem;
  width: 18.75rem;
  padding-top: 1rem;
  margin: 0 0 1.375rem 1.375rem;
}

.social-buttons {
  display: flex;
  flex-direction: row;
  margin: 0 0 0.6875rem;
}

.social-buttons > * {
  margin-right: 0.91667rem;
  font-size: 28px;
}

.fa-facebook { color: #3b5998; }
.fa-twitter { color: rgb(29, 161, 242); }
.fa-whatsapp { color: rgb(77, 194, 71); }
.fa-linkedin-in { color: rgb(0, 119, 181); }
.fa-reddit { color: rgb(255, 87, 0); }
.fa-envelope, .fa-print { color: rgb(153, 153, 153); }

.article-header-bottom { 
  color: rgb(77, 77, 77);
  margin: 0 0 0.6875rem 0;
}

.article-header-bottom a {
  font-weight: 600;
  color: rgb(77, 77, 77);
}

/* ARTICLE MAIN */

.author a {
  color: rgb(0, 179, 229);
  font-weight: 700;
}

p {
  margin: 0 0 0.6875rem;
}

figure {
  margin: 0 0 1.375rem 0;
}

figcaption {
  color: rgb(77, 77, 77);
  font-size: 12px;
  line-height: 0.9375rem;
  margin-top: -0.3rem;
}

.article-content p {
  font-family: 'PT Serif';
  font-size: 1.0625rem;
  line-height: 1.5625rem;
  color: rgb(77, 77, 77);
}

.article-content a {
  color: rgb(0, 179, 229);
}

.related-box {
  background: #f5f5f5;
  margin: 1.375rem 0;
  padding: 0.6875rem;
}

.related-box h4 {
  font-size: 1rem;
  margin: 0;
}

p strong {
  font-family: 'Titillium Web';
}

.article-tags {
  padding-top: 1.375rem;
  display: flex;
  align-items: baseline;
}

.article-tags p {
  margin: 0 0.6875rem 0 0;
  font-weight: 700;
  font-family: 'Titillium Web';
}

.article-tags ul {
  line-height: 1.4375rem;
  margin-bottom: 0.6875rem;
  display: flex;
}

.article-tags li {
  margin: 0;
  display: flex;
}

.article-tags a {
  color: white;
  background-color: rgb(0, 85, 135);
  font-size: 1rem;
  font-weight: 700;
  padding: 0.45833rem;
  margin: 0 0.6875rem 0.6875rem 0;
  border-radius: 3px;
}

.article-tags a:hover {
  background-color: rgb(40, 142, 183);
}

/* ARTICLE FOOTER */

.article-footer {
  margin-bottom: 1.375rem;
}

.footer-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2%;
  margin-bottom: 1.375rem;
  padding-top: 1rem;
}

.promo-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0.6875rem;
}

.promo-content img {
  height: auto;
  width: 100%;
}

.promo-btns {
  display: flex;
  flex-direction: column;
}

.promo-btns a {
  color: white;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0.188rem;
  line-height: 1rem;
  padding: 0.45833rem;
  margin-bottom: 0.6875rem;
  display: flex;
  justify-content: center;
}

.sub-btn { background-color: rgb(40, 142, 183); }
.app-btn { background-color: rgb(32, 178, 170); }
.buy-btn { background-color: rgb(255, 0, 0); }

/* ASIDE */

aside {
  display: flex;
  flex-direction: column;
  grid-gap: 3px;
}

aside a {
  color: rgb(77, 77, 77);
  font-weight: 700;
}

.aside-nav, .aside-article {
  background-color: #f5f5f5;
}

.aside-header {
  display: flex;
}

.aside-nav {
  border-right: 3px solid #fff;
  flex: 1 0 auto;
  padding: 0.45833rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside-nav .selected {
  background-color: rgb(0, 179, 229);
}

.aside-nav:last-child {
  border-right: none;
}

.aside-article {
  grid-column: 1 / -1;
  border-top: 3px solid #fff;
  padding: 0.6875rem;
  font-size: 1.375rem;
  line-height: 1.5625rem;
  display: flex;
}

.aside-article a {
  margin-right: 1.375rem;
}

.aside-article a:hover {
  color: rgb(0, 179, 229);
}

.aside-article span {
  color: rgb(0, 179, 229);
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* RELATED ARTICLES */
.related-articles {
  max-width: 70.62495rem;
  margin: 0 auto;
  padding: 0 0.93747rem;
}

.related-wrapper {
  margin-bottom: 1.375rem;
  padding-top: 1rem;
}

.related-articles h2 {
  color: #000;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -.0375rem;
  margin: 0 0 0.93747rem;
}

.article-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1.375rem;
}

.card {
  flex: 1 0 23.5%;
  margin-right: 2%;
  max-width: 23.5%;
  width: 23.5%;
  position: relative;
}

.card:last-child {
  margin-right: 0;
}

.img-wrapper {
  height: auto;
  overflow: hidden;
}

.card-img img {
  width: 100%;
  transition: all .2s;
}

.card-img h2 {
  font-size: 1.375rem;
  font-weight: 700;
  letter-spacing: -.0375rem;
  line-height: 1.5625rem;
  margin: 0;
  transition: all .2s;
}

.card-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
  color: #fff;
  background-color: #4d4d4d;
  padding: 0.45833rem;
  font-size: .875rem;
  font-weight: 700;
}

.card-header:hover {
  text-decoration: underline;
}

/* PAGE FOOTER */

.page-footer {
  background-color: #f5f5f5;
  margin-top: 1.87495rem;
  padding: 1.375rem 0;

}

.page-footer-wrapper {
  max-width: 70.62495rem;
  margin: 0 auto;
  padding: 0 0.93747rem;
}

.footer-newsletter {
  margin-bottom: 0.6875rem;
  padding: 0.6875rem 0;
}

.page-footer-wrapper h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.6875rem;
  margin-bottom: 0.93747rem;
}

.newsletter-signup-form {
  display: flex;
  font-size: 1rem;
}

.signup-label {
  color: #4d4d4d;
  font-family: "PT Serif",Georgia,serif;
  margin: 0 0.6875rem 0.6875rem 0;
}

.email-input {
  font-family: "PT Serif",Georgia,serif;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #000;
  border-radius: 0;
  font-size: 1rem;
  height: auto;
  line-height: 1rem;
  padding-left: 0.1875rem;
  margin: 0 2% 0.6875rem 0;
  width: 32%;
}

button[type=submit] {
  color: #fff;
  background-color: #005587;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0.188rem;
  line-height: 1rem;
}

button[type=submit]:hover {
  background: #193c5b;
}

.submit-btn {
  min-width: 15rem;
  padding: 0.45833rem;
}

.footer-primary-links {
  font-family: "PT Serif",Georgia,serif;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #bfbfbf;
  padding-bottom: 0.6875rem;
  margin-bottom: 0.6875rem;
}

.footer-nav-item {
  border-right: 1px solid #4d4d4d;
  display: inline-block;
  margin: 0 0.6875rem 0 0;
  padding: 0 0.6875rem 0 0;
}

.footer-nav-item:last-child {
  border-right: 0;
  margin-right: 0;
  padding-right: 0;
}

.footer-nav-item a {
  color: rgb(77, 77, 77);
}

.footer-nav-item a:hover {
  color: rgb(0, 179, 229);
}

.footer-secondary-links {
  font-family: "PT Serif",Georgia,serif;
  display: flex;
  justify-content: center;
  margin-bottom: 0.6875rem;
}

.footer-secondary-links:last-of-type {
  margin-bottom: 0
}

.footer-extra {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cookies-btn {
  margin: 1.375rem 0 0.6875rem 0;
  padding: 0.45833rem;
}

.footer-links {
  margin-bottom: 0.6875rem;
  padding: 0.6875rem 0;
  display: flex;
}

h3.link-header {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1875rem;
}

.footer-apps {
  margin-right: 1.87495rem;
}

button.footer-btn {
  padding: 0;
  margin: 0 1.375rem 1.375rem 0;
}

button.footer-btn:last-of-type {
  margin-right: 0;
}

img.store-btn {
  width: 110px;
  height: 33px;
}

.footer-link-btns {
  display: flex;
}

.fa-pinterest { color: #cb2027; }

.follow-buttons > * {
  margin-right: 0.91667rem;
  font-size: 26px;
  line-height: 1.4375rem;
  margin-bottom: 0.6875rem;
}

.footer-bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  font-size: .875rem;
  line-height: 4rem;
}

.back-to-top {
  width: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  color: black;
}

.fa-arrow-alt-circle-up {
  font-size: 40px;
}